exportPattern("^[[:alpha:]]+")
importFrom(dplyr, "%>%")
importFrom(data.table, ".SD")
importFrom(ggplot2, "aes")
importFrom(ggplot2, "ggplot")
importFrom(ggplot2, "labs")
importFrom(ggplot2, "theme")
importFrom(ggplot2, "ggtitle")
importFrom(ggplot2, "margin")
importFrom(ggplot2, "theme_bw")
importFrom(ggplot2, "labs")
importFrom(ggplot2, "xlim")
importFrom(ggplot2, "ylim")
importFrom(ggplot2, "element_text")
importFrom(ggplot2, "element_rect")
importFrom(ggplot2, "vars")
importFrom(data.table, ".SD")
importFrom(data.table, "data.table")
importFrom(mclust, "mclustBIC")
importFrom(tidyselect, "starts_with")
importFrom(spatstat.geom, "integral")
importFrom("stats", "as.formula", "complete.cases", "density",
           "quantile", "time")
