exportPattern("^[[:alpha:]]+")
importFrom(dplyr, "%>%")
importFrom(data.table, ".SD")
importFrom(ggplot2, "aes")
importFrom(ggplot2, "ggplot")
importFrom(ggplot2, "labs")
importFrom(ggplot2, "theme")
importFrom(ggplot2, "ggtitle")
importFrom(ggplot2, "margin")
importFrom(ggplot2, "theme_bw")
importFrom(ggplot2, "theme_classic")
importFrom(ggplot2, "labs")
importFrom(ggplot2, "xlim")
importFrom(ggplot2, "ylim")
importFrom(ggplot2, "element_text")
importFrom(ggplot2, "element_rect")
importFrom(ggplot2, "element_blank")
importFrom(ggplot2, "vars")
importFrom(ggplot2, "geom_point")
importFrom(ggplot2, "geom_errorbar")
importFrom(ggplot2, "geom_line")
importFrom(ggplot2, "geom_ribbon")
importFrom(data.table, ".SD")
importFrom(data.table, "data.table")
importFrom(mclust, "mclustBIC")
importFrom(tidyselect, "starts_with")
importFrom(spatstat.geom, "pixellate.ppp")
importFrom(splines, "ns")
importFrom(splines, "bs")
importFrom(spatstat.geom, "as.polygonal", "as.ppp", "interp.im", "as.im", "owin", "Window", "transmat", "im", "hyperframe", "superimpose", "as.matrix.im", "as.data.frame.ppp", "integral.im")
importFrom(spatstat.univar, "integral", "densityAdaptiveKernel")
importFrom("stats", "as.formula", "complete.cases", "density",
           "quantile", "time")
importFrom("stats", "na.omit", "pchisq", "predict", "qnorm")
S3method("summary", "est")
S3method("summary", "obs")
S3method("summary", "cate")
export(summary.est)
export(summary.obs)
export(summary.cate)
S3method("plot", "est")
S3method("plot", "obs")
S3method("plot", "im")
S3method("plot", "hyperframe")
S3method("plot", "cate")
S3method("plot", "weights")
export(plot.est)
export(plot.obs)
export(plot.im)
export(plot.hyperframe)
export(plot.cate)
export(plot.weights)
