exportPattern("^[[:alpha:]]+")
importFrom(dplyr, "%>%")
importFrom(ggplot2, "aes")
importFrom(ggplot2, "theme")
importFrom(ggplot2, "element_text")
importFrom(ggplot2, "element_rect")
importFrom(ggplot2, "vars")
importFrom(data.table, ".SD")
importFrom(data.table, "data.table")
importFrom(mclust, "mclustBIC")
